.required.ng-invalid {
  border: 1px solid red;
}

.invalid.ng-invalid.ng-dirty {
  border: 1px solid red;
}

.pad-left-right {
  padding-left: .1rem;
}

.deleteButton {
  margin-top: 1.5rem;
  margin-left: -1.2rem;
  width: 3.4rem;
}

.buttonDiv {
  margin-top: 1.5rem;
}

.groupDiv {
  width: 100%;
  min-height: 60px;
  box-sizing: border-box;
  border: solid thin lightgrey;
  padding: 8px;
}

.dragMsg {
  display: block;
  color: darkgrey;
  font-size: 20px;
  text-align: center;
  padding-top: 4px;
}