@font-face {
    font-family: "Futura T OT";
    src: url("../font/Futura-T-OT-Book_19064.ttf") format("truetype");
}

@font-face {
    font-family: "One Fell Swoop";
    src: url("../font/ONEFS.TTF") format("truetype");
}


h2{
font-family: "One Fell Swoop";
font-size:1.7em;
}

a{
	color: black;
}

img{
	width: 100%;
	height: 100%;
   }   

p{
	display: inline-block;
}

body{
	width: 1000px;
	margin: 0 auto;
	letter-spacing:1px;
}

header{
	background-color:;
	height: 100px;
	
}

div{

  display: inline-block;
}

#logo{
	height: 90px;
	width: 225px;
	margin-top: 10px;
}

#menu{
    font-family: "Futura T OT";
	display: inline-block;
	color: black;
	background-color: ;
    border-bottom: solid:;
	float: right;
	margin-top: 80px;
	list-style-type: circle;
	
}

#menu li{
	list-style-type: circle;
	display: inline-block;
	margin-right: 1.5em;
	padding:0;
}

#container{
	margin-top: 2em;
	line-height:2em;
	font-family: "Futura T OT";
	background-color: ;
}

#historia{
	width: 56%;
	display: inline-block;
	float: left;
	margin-bottom: 1em;
	margin-right:20px;
}

#historia h1{
	display: inline-block;
}

#bannerSomos{
	width: 420px;
	height: 310px;
	margin-top: 1em;
	float: right;
}

#textoBanner{
	position: absolute;
	width: 420px;
	height: 55px;
	background: rgba(130, 130, 130, .3);
	text-align: center;
	margin-left: ;
	margin-top:272px ;
	font-family: "One Fell Swoop";
	font-size: 1.4em;
	color: white;
}

#valores{
    width: 100%;
	display: inline-block;
}

#valores div{
	width: 49%;
	height: 200px;
	margin-right: 1%;
	margin-bottom: 1%;
	float: left;
	background-color: ;
	text-align: left
}

#valores h2{
	text-align: left;
}


span{
	font-family: "One Fell Swoop";
	font-size: 1.5em;
	display: inline-block;
}


footer{
	width: 100%;
	background-color: ;
	font-family: "Futura T OT";
	font-size: .8em;
	border-top:1px inset #efefef;
	margin-bottom:1em;
}

#menuDos{
	margin-top: 2em;
    font-family: "Futura T OT";
	display: inline-block;
	color: black;
	background-color:;
}

#menuDos li{
	list-style-type: circle;
	display: inline-block;
	margin-right: 1.5em;
	padding:0;
}

footer p{
	display: inline-block;
}

#socialContainer{
   float: right;
   display: inline-block;
}

#facebook{
  width: 25px;
}

#twitter{
   width: 25px;
   margin-left: .5em;
}