<!-- This panel shows the details of the selected document. -->
<!-- *ngIf checks if there is a document selected before showing the panel. -->
<div class="panel panel-default" *ngIf="document as selectedDocument" xmlns="http://www.w3.org/1999/html">

  <!-- This is the header of the document detail panel. -->
  <div class="panel-heading">
    <div class="row pad-all">

      <!-- This displays the selected document name. -->
      <h4 class="title margin-left-right">{{ selectedDocument.name }}</h4>

      <div class="row pull-right margin-left-right">

        <!-- This opens the document URL in a new browser tab. -->
        <a class="btn btn-primary" [href]="selectedDocument.url" target="_blank">View</a>

        <!-- This routes to the edit form for the selected document. -->
        <a class="btn btn-info" [routerLink]="['edit']">Edit</a>

        <!-- This button can be used later to delete the selected document. -->
        <a class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>

  <!-- This is the main body of the document detail panel. -->
  <div class="panel-body">
    <div class="pad-left-right">
      <div class="row">
        <label>Description:</label>
        <!-- This displays the selected document description. -->
        <span class="label-value">{{ selectedDocument.description }}</span>
      </div>
      <br>
      <div class="row">
        <label>URL:</label>
        <!-- This displays the selected document URL. -->
        <span class="label-value">{{ selectedDocument.url }}</span>
      </div>
    </div>
  </div>
</div>
